<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zwiggy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
  </head>
  <body>
    <div class="hero">
      <h1>Welcome to Zwiggy</h1>
      <p>Experience the finest dining with us.</p>
      <a href="https://zwiggy-delta.vercel.app/restaurants/" class="cta">View Restaurant Lists</a>
      <a href="https://zwiggy-delta.vercel.app/login/" class="cta">For Admin</a>
      <a href="https://zwiggy-delta.vercel.app/register/" class="cta">Click here to Register</a>
    </div>
  </body>
</html>
